/* Define the primary color palette */
:root {
  --dark-purple: #210535;
  --purple: #430d4b;
  --medium-purple: #7b337d;
  --light-purple: #c874b2;
  --light-pink: #f5d5e0;
}

/* Apply background gradient */
body {
  background: var(--dark-purple);
  color: var(--light-pink);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* General element styles */
* {
  box-sizing: border-box;
}

/* Header and navigation styles */
header.hero {
  background: url("nebula.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
}

header.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--light-pink);
  text-decoration: none;
  padding: 5px 10px;
  transition: background 0.3s ease;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

/* Hero content styles */
.hero-content {
  z-index: 2;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 10px; /* Reduced margin */
  animation: fadeInDown 1.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content .icon {
  width: 150px; /* Tres veces más grande (original era 50px) */
  height: 150px;
  margin-bottom: 20px; /* Añade un margen inferior para separación */
  border-radius: 50%;
  border: 2px solid var(--light-pink);
  padding: 5px;
}

.hero-content p {
  font-size: 1.5rem;
  margin-top: 10px; /* Reduced margin */
  margin-bottom: 20px;
  animation: fadeInUp 1.5s ease-out;
}

/* Keyframe animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Section styles */
.section {
  padding: 60px 20px;
  text-align: center;
  background-color: var(--purple);
  margin-bottom: 10px;
  color: var(--light-pink);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--medium-purple);
}

.section h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: var(--light-pink);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: var(--medium-purple);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--dark-purple);
  padding: 20px;
  margin: 20px;
  color: var(--light-pink);
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px var(--light-purple);
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.team-member {
  text-align: center;
  max-width: 200px;
}

.team-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--light-pink);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover .team-photo {
  transform: translateY(-10px);
  box-shadow: 0 0 20px var(--light-purple);
}

/* Community section styles */
.community-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.community-feature {
  background: var(--medium-purple);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--dark-purple);
  max-width: 600px;
  margin: 0 auto;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form input,
.contact form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--light-purple);
  border-radius: 5px;
  background-color: var(--dark-purple);
  color: var(--light-pink);
}

.contact form button {
  padding: 10px 20px;
  background: var(--medium-purple);
  color: var(--light-pink);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px var(--light-purple), 0 0 10px var(--light-purple);
  transition: background 0.3s ease-in-out;
}

.contact form button:hover {
  background: var(--light-purple);
}

.lang-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--light-pink);
  background-color: var(--medium-purple);
  color: var(--light-pink);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0 5px; /* Espaciado entre los botones */
}

.lang-btn.selected {
  background-color: var(--light-pink);
  color: var(--medium-purple);
  border: 2px solid var(--medium-purple);
}

/* Footer styles */
footer {
  background: var(--dark-purple);
  color: var(--light-pink);
  padding: 10px;
  text-align: center;
}
